#topbar {
  background-color: $tobBarBG;
  padding: 10px;
  text-align: center;

  p {
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;

    a {
      color: white;
    }

    svg {
      padding-left: 7px;
    }
  }
}

body {
  background: url(//happyhunny.co.za/cdn/shop/t/2/assets/bee-desktop-1.webp?v=80096687704958325541655707739) top 39px right calc(50% + 399px) no-repeat;

  @include media-breakpoint-down(lg) {
    background: none;
  }
}

header {
  &#masthead {
    padding-top: 3rem;
    position: relative;

    hgroup {
      &#mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }

        .burger-menu {
          display: block;
          width: 30px;
          margin-left: 20px;

          .icon-close {
            display: none;
          }
        }

        .main-logos {
          img {
            max-width: 100%;
            margin-left: 30px;
          }
        }

        .socials {
          text-align: right;

          .search {
            display: inline-flex;
          }
        }
      }

      &#desktop {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &.container {
        .row {
          @include align-items(center);
        }
      }
    }

    #site-navigation.main-navigation {
      padding: 3rem 0px;
      opacity: 1;

      @include media-breakpoint-down(lg) {
        position: absolute;
        right: 150%;
        background-color: white;
        z-index: 0;
        top: 115px;
        opacity: 1;
        transition: 1s all;
        max-height: 80vh;
        padding-top: 0px;
        width: 98%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);

        .menu-main-menu-container {
          display: flex;
          flex-wrap: wrap;
          background-color: white;

          #menu-main-menu {
            flex-wrap: wrap;

            li {
              flex-basis: 100%;
              margin-top: 30px;
            }
          }
        }
      }

      &.mobile-toggle {
        @include media-breakpoint-down(lg) {
          right: 1%;
          z-index: 100;
        }
      }

      ul {
        list-style: none;
        @include flexbox;
        @include justify-content(center);

        li {
          padding: 0px 10px;

          &.menu-item-has-children {
            &>a {
              &::after {
                content: "";
                background-image: url("../assets/icons/nav-dropdown-arrow.svg");
                width: 10px;
                height: 8px;
                position: relative;
                display: inline-block;
                background-repeat: no-repeat;
                margin-left: 6px;
              }
            }
          }

          a {
            color: $textColor;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 25px;
          }

          ul.sub-menu {
            display: none;
            position: absolute;
            z-index: 100;
            background-color: white;
            border-radius: 16px;
            padding: 10px 20px;
            list-style: none;
            box-shadow: 0 2px 15px #0000001a;

            li {
              padding: 0px 10px 5px;

              a {
                &:hover {
                  color: $textHover;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    h2 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 50px;
      text-align: center;
    }

    .search {
      .icon {
        button {
          border: none;
          background-color: transparent;
          box-shadow: none;
          padding: 5px;
        }
      }
    }

    .socials {
      text-align: right;
    }
  }
}

#header-categories {
  position: relative;
  padding-bottom: 3rem;

  h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
    text-align: center;
  }

  &::before {
    content: "";
    background: url(//happyhunny.co.za/cdn/shop/t/2/assets/home-intro-left.png?v=146906331530739839451654252713) left bottom no-repeat;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::after {
    content: "";
    background: url(//happyhunny.co.za/cdn/shop/t/2/assets/home-intro-right.png?v=16488003890253336451654252715) right bottom no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .container {
    z-index: 1;
    position: relative;

    .row {
      padding: 2rem 0px;

      .img-responsive {
        position: relative;
        top: -3%;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .card {
        height: 100%;
      }

    }
  }

  h4 {
    color: $textColor;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
  }

  p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }

  #tabs {
    border: none;

    ul.ui-tabs-nav {
      text-align: center;
      display: flex;
      justify-content: center;
      background-color: transparent;
      border: none;

      li {
        border: none;
        border-radius: 18px;
        padding: 7px 25px;
        background-color: transparent;

        a {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 21px;
          padding: 0;
          display: block;
          color: #1D1D1A;
          font-family: Poppins;
        }

        &.ui-state-active {
          background-color: $textColor;

          a {
            color: white;
          }
        }
      }
    }

    .ui-tabs-panel {
      a {
        display: block;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        color: #1D1D1A;
        font-family: Poppins;
        margin-bottom: 5px;
        padding: 12px 0px;
        border-radius: 16px;
      }
    }
  }
}